<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="fw-bold">PeaCock</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div *ngFor="let vehicle of vehicles" class="col-4 mb-3">
            <div class="card">
                <img  height="300" [src]="vehicle.img_url" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{vehicle.model.brand.name}} {{vehicle.model.name}} {{ vehicle.plate_number}}</h5>
                    <p class="card-text">{{ vehicle.color }}</p>
                    <div class="row d-flex">
                        <div class="col-4">
                            <p class="card-text">{{ vehicle.price }} €</p>
                        </div>
                        <div class="col-4 offset-4">
                            <button class="btn btn-primary">Details</button>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
