<div class="container">
    <form>
        <div class="row">
            <h4 class="text-center mb-3">Vehículo</h4>
            <div class="col">
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputPlate" class="col col-form-label fw-bold">Matrícula:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputPlate">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputColor" class="col col-form-label fw-bold">Color:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputColor">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputImg" class="col col-form-label fw-bold">Imagen URL:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputImg">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputPrice" class="col col-form-label fw-bold">Precio:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputPrice">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputStatus" class="col col-form-label fw-bold">Estado:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Select status">
                            <option selected>Seleccione estado...</option>
                            <option value="1">Vendido</option>
                            <option value="2">Alquilado</option>
                            <option value="3">Reservado</option>
                            <option value="4">Disponible</option>
                        </select>                    
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputModel" class="col col-form-label fw-bold">Modelo:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Select model">
                            <option selected>Seleccione modelo...</option>
                            <option value="1">Vendido</option>
                            <option value="2">Alquilado</option>
                            <option value="3">Reservado</option>
                            <option value="4">Disponible</option>
                        </select>                    
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <h4 class="text-center mb-3">Ficha técnica</h4>
            <div class="col">
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputVersion" class="col col-form-label fw-bold">Versión:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputVersion">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputDoors" class="col col-form-label fw-bold">Puertas:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputDoors">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputSeats" class="col col-form-label fw-bold">Plazas:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputSeats">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputHeight" class="col col-form-label fw-bold">Altura:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputHeight">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputWidth" class="col col-form-label fw-bold">Anchura:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputWidth">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputLength" class="col col-form-label fw-bold">Largura:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputLength">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputMaxPot" class="col col-form-label fw-bold">Potencia máx:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputMaxPot">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputWheelDrive" class="col col-form-label fw-bold">Tracción:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputWheelDrive">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <label for="inputAddons" class="col col-form-label fw-bold">Modificaciones:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputAddons">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <label for="inputNotes" class="col col-form-label fw-bold">Observaciones:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputNotes">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputType" class="col col-form-label fw-bold">Tipo:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Select type">
                            <option selected>Seleccione tipo...</option>
                            <option value="1">Vendido</option>
                            <option value="2">Alquilado</option>
                            <option value="3">Reservado</option>
                            <option value="4">Disponible</option>
                        </select>                    
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputAxisDistance" class="col col-form-label fw-bold">Distancia ejes:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputAxisDistance">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputTare" class="col col-form-label fw-bold">Tara:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputTare">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputWeightRating" class="col col-form-label fw-bold">MMA:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputWeightRating">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputTires" class="col col-form-label fw-bold">Neumáticos:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputTires">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputEngine" class="col col-form-label fw-bold">Motor:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Select engine">
                            <option selected>Seleccione motor...</option>
                            <option value="1">Vendido</option>
                            <option value="2">Alquilado</option>
                            <option value="3">Reservado</option>
                            <option value="4">Disponible</option>
                        </select>                    
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputUrbanFuelEconomy" class="col col-form-label fw-bold">Consumo urbano:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputUrbanFuelEconomy">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputExtraUrbanFuelEconomy" class="col col-form-label fw-bold">Consumo extraurbano:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputExtraUrbanFuelEconomy">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="inputOverallFuelEconomy" class="col col-form-label fw-bold">Consumo medio:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="inputOverallFuelEconomy">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Añadir vehículo</button>
    </form>
</div>