<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Vehicle Catalog</h1>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        
        <form #vForm ="ngForm" (ngSubmit) = "onSubmit(vForm.value)">
          <div class="row">
            <div class="col">
              <h4>Status</h4>
              <select class="form-select" aria-label="Select status" name="status"  [(ngModel)]="vForm.value.status">
                  <option *ngFor="let status of statuses" [value]="status.status">{{ status.status }}</option>
              </select>                    
          </div>
        <div class="col">
          <h4>Type</h4>
          <select class="form-select" aria-label="Select type" name="vehicle_type" [(ngModel)]="vForm.value.vehicle_type">
              <option selected>Seleccione tipo...</option>
              <option *ngFor="let type of types" [value]="type.vehicle_type">{{ type.vehicle_type }}</option>
          </select>                    
        </div>
          </div>
          <br>
          <div class="row">
            <div class="col offset-5">
              <button class="btn btn-primary" type="submit">Filter</button>
              <button class="btn btn-success ms-5" (click) = "refresh()">Clear Filters</button>
            </div>
          </div>
          
        </form>
       
        <br>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col">Plate Number</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Type</th>
                    <th scope="col">Color</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of vehicles">
                    <th>
                        <img height="100" width="200" [src] = "vehicle.img_url" alt="">
                    </th>
                    <th>{{vehicle.plate_number}}</th>
                    <th>{{vehicle.model.brand.name}}</th>
                    <th>{{vehicle.model.name}}</th>
                    <td>{{vehicle.vehicle_type.vehicle_type}}</td>
                    <td>{{vehicle.color}}</td>
                    <td>{{vehicle.price | number: '1.2-2':'es' }} €</td>
                    <td>{{vehicle.status.status}}</td>
                    <td>
                      <button class="btn btn-primary" [routerLink]="['/vehicle-detail', vehicle.plate_number]">Details</button>
                    </td>
                    <td>
                      <button class="btn btn-success" [routerLink]="['/vehicle-edit', vehicle.plate_number]">Edit</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="onDelete(vehicle.plate_number)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
