<footer class="contrast-footer footer-shadow-dark p-5 mt-2 border-top border-body-subtle">
    <div class="container">
        <div class="row gap-2 w-100 justify-content-evenly">
            <div class="col-6 text-center">
                <ul class="me-auto mb-2 mb-lg-0 list-unstyled">
                    <li class="decoration-none">
                        <a class="link link-secondary text-decoration-none" href="#">Contact Us</a>
                    </li>
                    <li class="decoration-none">
                        <a class="link link-secondary text-decoration-none" href="#">Customer Support</a>
                    </li>
                    <li class="decoration-none">
                        <a class="link link-secondary text-decoration-none" href="#">Privacy Policy</a>
                    </li>

                    <li>
                        <a class="link link-secondary text-decoration-none" href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
            <div class="col text-center">
                <h6>Follow us!</h6>
                <ul class="me-auto mb-2 mb-lg-0 list-unstyled">
                    <li class="decoration-none">
                        <a class="link link-secondary text-decoration-none" href="#">Facebook</a>
                    </li>
                    <li>
                        <a class="link link-secondary text-decoration-none" href="#">Instagram</a>
                    </li>
                    <li>
                        <a class="link link-secondary text-decoration-none" href="#">TikTok</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6 class="text-center mt-3">&copy;2024 Peacock. All rights reserved.</h6>
            </div>
        </div>
    </div>
</footer>