<footer class="contrast-footer footer-shadow-dark p-5 mt-2 border-top border-body-subtle">
    <div class="container">
        <div class="row gap-2 w-100 justify-content-evenly">
            <div class="col-6 text-center">
                <h5>Enlaces de interés:</h5>
                <ul class="me-auto mb-2 mb-lg-0 list-unstyled">
                    <li class="decoration-none">
                        <a class="link link-secondary text-decoration-none" href="#">Política de privacidad</a>
                    </li>
                    <li>
                        <a class="link link-secondary text-decoration-none" href="#">Política de cookies</a>
                    </li>
                    <li>
                        <a class="link link-secondary text-decoration-none" href="#">Aviso legal</a>
                    </li>
                </ul>
            </div>
            <div class="col text-center">
                <h5>¡Síguenos en redes!</h5>
                <ul class="me-auto mb-2 mb-lg-0 list-unstyled">
                    <li class="decoration-none">
                        <a class="link link-secondary text-decoration-none" href="#">Facebook</a>
                    </li>
                    <li>
                        <a class="link link-secondary text-decoration-none" href="#">Instagram</a>
                    </li>
                    <li>
                        <a class="link link-secondary text-decoration-none" href="#">TikTok</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6 class="text-center mt-3">&copy; Peacock, 2024. All rights reserved.</h6>
            </div>
        </div>
    </div>
</footer>